USER_GRPC_URL=localhost:50051
CATALOG_GRPC_URL=localhost:50052
ORDER_GRPC_URL=localhost:50053
USER_REST_PORT=3001
CATALOG_REST_PORT=3002
ORDER_REST_PORT=3003
GATEWAY_PORT=4000
DATABASE_URL="file:./dev.db"
